CódigoFuente/BitacorasProduccion/Connected Services/ServiceReferenceBasculas/WebServiceBasculas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PesoBascula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PesoBasculaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PesoBasculaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PesoBasculaSoapIn">
    <wsdl:part name="parameters" element="tns:PesoBascula" />
  </wsdl:message>
  <wsdl:message name="PesoBasculaSoapOut">
    <wsdl:part name="parameters" element="tns:PesoBasculaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceBasculasSoap">
    <wsdl:operation name="PesoBascula">
      <wsdl:input message="tns:PesoBasculaSoapIn" />
      <wsdl:output message="tns:PesoBasculaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceBasculasSoap" type="tns:WebServiceBasculasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PesoBascula">
      <soap:operation soapAction="http://tempuri.org/PesoBascula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceBasculasSoap12" type="tns:WebServiceBasculasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PesoBascula">
      <soap12:operation soapAction="http://tempuri.org/PesoBascula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceBasculas">
    <wsdl:port name="WebServiceBasculasSoap" binding="tns:WebServiceBasculasSoap">
      <soap:address location="http://192.168.10.156:8050/WebServiceBasculas.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceBasculasSoap12" binding="tns:WebServiceBasculasSoap12">
      <soap12:address location="http://192.168.10.156:8050/WebServiceBasculas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>